---
export interface Props {
  label: string;
}

// eslint-disable-next-line @typescript-eslint/no-unused-vars
const { label } = Astro.props;
---

<div class="tab-panel" role="tabpanel">
  <slot />
</div>